We found some of your investments that we can pump with advanced strategy. We can auto-compound your profits to boost the result APY and enable stop-loss protection for your investments.:
{{#items}}
- {{name}}. Current APY - {{currentApy}}%, Boosted APY - {{boostedApy}}%
{{/items}}

Check your investments in our INVEST section. https://app.defihelper.io/invest