We found some of your investments that we can pump with our advanced strategy. You can enable stop-loss protection for your investment or auto-compound your profits to boost the result APY:
{{#items}}
- You invested in {{name}} pool with APY - {{currentApy}}% which can be boosted to {{boostedApy}}% with stop-loss protection
{{/items}}

Check your investments in our INVEST section - https://app.defihelper.io/invest

Wallet {{walletName}}
