Hey 👋

I’m Vlad, CEO of DeFiHelper. We help you to invest and trade in DeFi in 2 clicks.
Would love to jump on a 15-min call to give you a private demo of our new features and get some feedback. Feel free to grab your time here: https://calendly.com/defihelper/15min-dfh
