Hey 👋

My name is Vladislav, CEO/CTO of DeFiHelper protocol.
I can see that you haven’t invested in our app yet. DeFiHelper helps you to invest and trade in the most reliable DeFi protocols in 2 clicks, without any prior DeFi experience.
I would love for you to jump on a 15-min call to give you a private demo of our new features and get some feedback. Feel free to grab your time here: https://calendly.com/defihelper/15min-dfh
