Three months have passed since the launch of DeFiHelper. What have we done in the last 3 months?

TLDR:
— $500,000 Pre-Seed round
— First partnership
— YouTube channel
— Support for 4 chains and 400 protocols
— Purchase of LP tokens from the DFH app
— Real APR tracking
— New condition in the automations' constructor (Contract metric)
— Integration with centralized exchanges (Binance, FTX etc.)
— Working on the next major update

<a href="https://defihelper.medium.com/january-march-2022-digest-958360af087">Read more ➡️</a>
