{{#t}}[{{name}}]: Tracked Balance ${{#formatMoney}}{{totalNetWorth}}{{/formatMoney}} ({{percentageTracked}}%), Total unclaimed ${{#formatMoney}}{{totalEarnedUSD}}{{/formatMoney}} ({{percentageEarned}}%) on {{time}}{{/t}}
