{{#t}}[{{name}}]: Tracked Balance ${{numbersService.formatMoney(totalNetWorth)}} ({{percentageTracked}}%), Total unclaimed ${{numbersService.formatMoney(totalEarnedUSD)}} ({{percentageEarned}}%){{/t}}
