<html>
    <p>{{#t}}We are excited to see you join the DeFiHelper community!{{/t}}</p>
    <p>
        {{#t}}Please confirm your E-Mail address <b>{{email}}</b> by clicking on the following link:{{/t}}<br/>
        <a href="https://app.defihelper.io/settings/confirm-email/{{confirmationCode}}">
            https://app.defihelper.io/settings/confirm-email/{{confirmationCode}}
        </a>
    </p>
    <p>
        {{#t}}Any questions? Drop us a reply!{{/t}}<br/>
        {{#t}}DeFiHelper team{{/t}}
    </p>
</html>